image_data.npy filter=lfs diff=lfs merge=lfs -text
vgg16_5epoch.keras filter=lfs diff=lfs merge=lfs -text
new_model2.keras filter=lfs diff=lfs merge=lfs -text
new_model3.keras filter=lfs diff=lfs merge=lfs -text
