image_data.npy filter=lfs diff=lfs merge=lfs -text
vgg16_5epoch.keras filter=lfs diff=lfs merge=lfs -text
new_model2.keras filter=lfs diff=lfs merge=lfs -text
new_model3.keras filter=lfs diff=lfs merge=lfs -text
jilly_distracted.mp4 filter=lfs diff=lfs merge=lfs -text
jilly_driving.mov filter=lfs diff=lfs merge=lfs -text
jilly_attentive_blurred_vgg16_5epoch.mp4 filter=lfs diff=lfs merge=lfs -text
jilly_distracted_blurred_vgg16_5epoch.mp4 filter=lfs diff=lfs merge=lfs -text
